# For local development
NEXT_PUBLIC_API_URL=https://raftlabs-full-stack-developer.onrender.com

# For production (Render backend)
# NEXT_PUBLIC_API_URL=https://raftlabs-full-stack-developer.onrender.com
